<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | Serval</title>
    <meta charset="utf-8">
    <link rel="icon" href="/assets/icon.png" type="image/png">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL,GRAD@200,0,0" />
</head>
<body>
    <div class="nav-bar">
        <a href="/" class="nav-link">Home</a>
        <a href="#about" class="nav-link">About</a>
        <a href="/publications" class="nav-link">Publications</a>
        <a href="/team" class="nav-link">Team</a>
        <a href="https://recruitment.uni.lu/en/index.html?LOV52=All&SUBDEPT2=27&LOV53=All&keywords=serval&Resultsperpage=10&srcsubmit=Search&statlog=1&ID=QMUFK026203F3VBQB7V7VV4S8&mask=karriereseiten&LG=UK" class="nav-link" target="_blank">Open positions</a>
        <a href="https://github.com/serval-snt-uni-lu" class="nav-link" target="_blank">Github</a>
    </div>
    <div class="main">
        <div class="content">
            {{ content }}
        </div>
    </div>
    <footer>
        <a href="https://uni.lu/snt"><img src="/assets/snt.png" /></a>
        <p>Copyright © 2023, Serval, SnT, University of Luxembourg. All right reserved.</p>
        <a href="https://uni.lu/"><img src="/assets/unilu.png" /></a>
    </footer>
</body>

</html>
